<div class="place-container" *ngIf="place">
  <mat-card class="place-card">
    <img mat-card-image [src]="place.imageUrl" [alt]="place.name">
    <mat-card-content>
      <h1>{{ place.name }}</h1>
      <div class="rating">
        <ng-container *ngIf="place.ratings && place.ratings.length > 0; else noRating">
          <ng-container *ngIf="currentUserId">
            <span *ngFor="let star of [1,2,3,4,5]" (click)="onRate(star)" [class.filled]="star <= userRating">
              <mat-icon>{{ star <= userRating ? 'star' : 'star_border' }}</mat-icon>
            </span>
          </ng-container>
          <span class="rating-value">Átlag: {{ averageRating }} ({{ place.ratings.length }} értékelés)</span>
        </ng-container>
        <ng-template #noRating>
          <ng-container *ngIf="currentUserId">
            <span *ngFor="let star of [1,2,3,4,5]" (click)="onRate(star)" [class.filled]="star <= userRating">
              <mat-icon>{{ star <= userRating ? 'star' : 'star_border' }}</mat-icon>
            </span>
            <span class="rating-value">Még nincs értékelés</span>
          </ng-container>
          <span *ngIf="!currentUserId">Még nincs értékelés</span>
        </ng-template>
      </div>
      <p>{{ place.description }}</p>
      
      <div class="view-switcher">
        <button mat-button (click)="switchView('info')">Információk</button>
        <button mat-button (click)="switchView('comments')">Hozzászólások</button>
        <button mat-button (click)="switchView('map')">Térkép</button>
      </div>

      <div [ngSwitch]="currentView">
        <div *ngSwitchCase="'info'">
          <h3>Részletes információk</h3>
          <p>Létrehozta: {{ place.createdBy.username }}</p>
          <p>Hozzászólások száma: {{ place.comments | placeCount }}</p>
        </div>
        <div *ngSwitchCase="'comments'">
          <ng-container *ngIf="currentUserId; else loginToComment">
            <app-comment
              [comments]="place.comments"
              [currentUserId]="currentUserId"
              (addComment)="onAddComment($event)"
              (deleteComment)="onDeleteComment($event)"
              (commentCountChange)="onCommentCountChange($event)">
            </app-comment>
          </ng-container>
          <ng-template #loginToComment>
            <p>Hozzászólni csak bejelentkezve lehet.</p>
            <app-comment [comments]="place.comments" [currentUserId]="''"></app-comment>
          </ng-template>
        </div>
        <div *ngSwitchCase="'map'">
          <h3>Térkép</h3>
          <p>Térkép megjelenítése...</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="not-found" *ngIf="!place">
  <h2>A keresett látnivaló nem található!</h2>
  <button mat-button color="primary" routerLink="/places">
    <mat-icon>arrow_back</mat-icon>
    Vissza a listához
  </button>
</div>
